<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WebSharper" version="3.0.7.80-alpha" targetFramework="net40" />
  <package id="WebSharper.Highcharts" version="3.0.3.78-alpha" targetFramework="net40" />
  <package id="WebSharper.Highmaps" version="3.0.3.78-alpha" targetFramework="net40" />
  <package id="WebSharper.Highstock" version="3.0.3.78-alpha" targetFramework="net40" />
</packages>